.navbar {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

.title {
  background: rgb(159,51,233);
  background: linear-gradient(90deg, rgba(159,51,233,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.titleContainer {
  position: relative;
}

.triangulito {
  position: absolute;
  top: -4px;
  left: 1px;
}